.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
  width: 400px;
  margin: auto;
  padding: 80px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

.input {
  display: block;
  min-width: 200px;
}
